.numero {
    margin-left: 10px;
    align-items: center;
    display: inline;
    padding: 8px;
    color: #E6FF00;

    }

.boton1 {
    border-radius: 20px;
    transition-duration: 0.4s;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    backdrop-filter: blur(7.8px);
  /* From https://css.glass */
background: rgba(59, 62, 126, 0.4);
border-radius: 20px;
/* From https://css.glass */
background: rgba(34, 62, 104, 0.66);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(151, 110, 110, 0.1);
backdrop-filter: blur(3.9px);
-webkit-backdrop-filter: blur(3.9px);
border: 1px solid rgba(34, 62, 104, 1);

}

.btn:focus
{outline:none }

.btn:hover {
    cursor:pointer;
    background-color: #e5e3f5 ;
    color: rgb(255, 255, 255)
}