.titulocard{
  background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 6%, rgba(30,87,153,1) 22%, rgba(30,87,153,1) 46%, rgba(17,32,86,1) 73%, rgba(41,137,216,1) 87%, rgba(41,137,216,1) 90%, rgba(41,137,216,0.8) 94%, rgba(41,137,216,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 6%,rgba(30,87,153,1) 22%,rgba(30,87,153,1) 46%,rgba(17,32,86,1) 73%,rgba(41,137,216,1) 87%,rgba(41,137,216,1) 90%,rgba(41,137,216,0.8) 94%,rgba(41,137,216,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 6%,rgba(30,87,153,1) 22%,rgba(30,87,153,1) 46%,rgba(17,32,86,1) 73%,rgba(41,137,216,1) 87%,rgba(41,137,216,1) 90%,rgba(41,137,216,0.8) 94%,rgba(41,137,216,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#002989d8',GradientType=1 ); /* IE6-9 */
  /* From https://css.glass */
  
  /* From https://css.glass */
  background: rgba(9, 8, 48, 0.43);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(9, 8, 48, 0.27);
  margin: 35px;
  width: 17rem;
  border-radius: 10px;
  display: inline-block;
  transition: all 400ms ease;
  box-sizing: content-box;
  min-height: 150px;
  border-color: #22043dda;
  border-width: 1.5px;
  border-style: solid;

}
.nombre{
    font-family: "Sofia", cursive;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.tipos{
    list-style-type: none;
    color: #2e023b;
    text-decoration-line: none;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    font-family: "Merienda", cursive;
    text-decoration: none;
}

ul li {
    text-decoration-line: none;
    list-style-type: none;
    text-align: center;
    align-content: center;
  }
  